.header {
    height: 66px;
    background-color: rgb(199, 191, 191);
    display: flex;
    flex-direction: row;
    border: 3px solid black;
    margin-bottom: 20px;
  }
  
  .left-section {
    display: flex;
    align-items: center;
  }

  .left-arrow {
    height: 35px;
    margin-left: 24px;
    margin-right: 24px;
  }
  
  .right-arrow {
    height: 35px;
  }
  .cross {
    height: 35px;
    margin-left: 24px;
    margin-right: 24px;
  }
  
  .home-img {
    height: 35px;
  }

  
  .middle-section {
    flex: 1;
    margin-left: 20px;
    margin-top: 3px;
    display: flex;
    align-items: center;
  }
  
  .search-bar {
    height: 24px;
    padding-left: 10px;
    font-size: 16px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 6px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
    width: 950px;
    background-color: #6B728E;
  }
  
  .search-bar::placeholder {
    font-size: 16px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .search-icon {
    margin-top: 6px;
    height: 56px;
    margin-left: 30px;
  }
  
    
 .search-icon:hover {
    cursor: pointer;
  }
.page {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: absolute;
    margin: 0px;
    margin-left: 710px;
}