* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fbeee0;
  color: #4c362b;
  font-family: 'Arial', sans-serif;
  overflow-y: hidden;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.container {
  margin: 60px;
}

.card-body {
  background-color: #71278F;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px;
 
}

input {
  background-color: purple;
  color: black;
}

#jumlahProduk {
  background-color: navy;
  color: white;
  border-radius: 20px;
  width: 100%;
  margin-bottom: 0;
  margin-top: 0;
  border: black;
  padding: 10px;
}

::placeholder {
  color: white;
  font-weight: lighter;
}

#container-body {
  box-shadow: 0px 4px 40px black;
}

#productContainer {
  display: flex;
  width: fit-content;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  margin-bottom: -20px; 
  padding-bottom: 20px; 
  scrollbar-width: thin; 
  scrollbar-color: #ddd transparent; 
  white-space: nowrap; 
  transition: scroll 0.5s ease-in-out;
  margin-right: 1000px;
  padding: 20px;
}

.product-card {
  width: 650px;
  height: 400px;  
  margin-right: 20px;
  margin-left: 10px;
  scroll-snap-align: start;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s;
  cursor: pointer;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-card img {
  height: 250px;
}

.card-title {
  margin: 0;
  font-size: 18px;
  color: lightcoral;
  font: arial, helvetica;
}

.card-text {
  font-size: 14px;
  color: lightblue;
}

.btn-primary {
  background-color: navy;
  border: none;
  color: lightcyan;
  border-radius: 5px;
  padding: 10px 20px; 
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block; 
}

.strips-icon {
  width: 30px;
}

.product-card:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.swiper-slide, .product-card {
  width: 253px !important;
  margin-top: 25px;
}

.swiper-pagination{

  height: 90px;
}
.product-card img {
  height: 280px !important;
  width: 260px !important;
}
form {
  display: flex;
}
#button-atas {
  background-color: lightpink;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  width: 300px;

}

#button-atas:hover {
  background-color: lightblue;
}

#button-atas:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}